<div class="headertop <%- theme.bgclass %>">
  <div id="banner_wave_1"></div>
  <div id="banner_wave_2"></div>
  <figure id="centerbg" class="centerbg">
    <div class="focusinfo no-select">
      <div class="header-tou">
        <a href="<%- theme.url%>">
          <img src="<%- (theme.cdn || '') + theme.avatar %>">
        </a>
      </div>
      <div class="header-info">
			<!-- 首页一言打字效果 -->
			<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11/lib/typed.min.js"></script>
			<i class="fa fa-quote-left"></i>
			<span class="element"></span>
			<i class="fa fa-quote-right"></i>
			<span class="element"></span>
			<script>
            var typed = new Typed('.element', {
              strings: ["给时光以生命，给岁月以文明", "寒蝉黎明之时,便是重生之日"], //输入内容, 支持html标签
              typeSpeed: 140, //打字速度
              backSpeed: 50, //回退速度
              loop: false,//是否循环
              loopCount: Infinity,
              showCursor: false//是否开启光标
            });
      </script>

        <!-- <p><%= theme.description %></p> -->
        <div class="top-social_v2">
          <li id="bg-pre">
            <img class="flipx" src="https://cdn.jsdelivr.net/gh/starlovei/cdn/img/other/next.png">
          </li>
          <% if (theme.social) {%>
            <% for (i in theme.social) {%>
              <% if (i == 'wechat') {%>
                <li class="wechat">
                  <a href="<%= theme.social[i].url%>">
                    <img src="<%- (theme.cdn || '') + theme.social[i].img%>">
                  </a>
                  <div class="wechatInner">
                    <img src="<%- (theme.cdn || '') + theme.social[i].qrcode%>">
                  </div>
                </li>
              <% } else { %>
                <li>
                  <a href="<%= theme.social[i].url%>" target="_blank" class="social-github" title="<%- i %>">
                    <img src="<%- (theme.cdn || '') + theme.social[i].img%>">
                  </a>
                </li>
              <% } %>
            <% } %>
          <% } %>
          <li id="bg-next">
            <img src="https://cdn.jsdelivr.net/gh/starlovei/cdn/img/other/next.png">
          </li>
        </div>
      </div>
    </div>
  </figure>
  <div id="video-container" style="">
    <video style="object-fit: fill" id="bgvideo" class="video" video-name="" src="" width="auto" preload="auto">
    </video>
    <!-- <div id="video-btn" class="loadvideo videolive">
    </div> -->
    <div id="video-add">
    </div>
    <div class="video-stu">
    </div>
  </div>
  <div class="headertop-down faa-float animated" onclick="headertop_down()">
    <span>
      <i class="fa fa-chevron-down" aria-hidden="true">
      </i>
    </span>
  </div>
</div>